<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Underflow{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.css">
    <link rel="stylesheet" href="{{ asset('main.css') }}">
    <script src="https://code.jquery.com/jquery-3.2.1.js"
            integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

    <script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>
</head>
<body>
<nav class="nav">
    <div class="nav-left">
        <a class="nav-item" href="{{ path('main') }}">
            <h1 class="title">Underflow</h1>
            <a class="nav-item is-tab is-hidden-mobile is-active">Links</a>
            <a class="nav-item is-tab is-hidden-mobile">Documentations</a>
        </a>
    </div>

    <!-- This "nav-toggle" hamburger menu is only visible on mobile -->
    <!-- You need JavaScript to toggle the "is-active" class on "nav-menu" -->
    <span id="burger" class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
        </span>

    <!-- This "nav-menu" is hidden on mobile -->
    <!-- Add the modifier "is-active" to display it on mobile -->
    <div id="menu" class="nav-right nav-menu">
        {% block menu %}{% endblock %}

    </div>
</nav>

{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
<script>

    $(document).ready(function () {
        var menu = $('#menu');
        var burger = $('#burger');

        burger.click(function () {
            if (burger.hasClass("is-active")) {
                burger.removeClass("is-active");
                menu.removeClass("is-active");
            } else {
                burger.addClass("is-active");
                menu.addClass("is-active");
            }
        });

    });

</script>
</body>
</html>
